/*
 * filename: `/css/style.css`
 * author: SWH03303, SWH03403
 * created: 2025-09-26
 * description: styling applied by all pages
 */

@import "fonts.css";

/* ======================================= GLOBAL STYLING ======================================= */
/* Background */
body {
	background-image: url("/images/background.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #000;
}

/* Global variables to avoid repeating code */
:root {
	--spacing: 10px;
	--shadow: 0 0 20px #0003;
}

* { font-family: Poppins; } /* Default global font. */

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	justify-content: safe center;
	background-color: #ddd;
}

html { height: 100%; }
body { min-height: 100%; } /* Page can grow past 100% */
main {
	justify-content: center;
	gap: var(--spacing);
	align-self: center; /* Prevent main from being stretched to 100% width. */
	max-width: 100%;
}

header, footer {
	padding: 1.5em;
	font-size: 14pt;
	font-weight: bold;

	a {
		padding: .8em .8em;
		text-transform: uppercase; /* Make every letters uppercase. */
		color: grey;
		text-decoration: none;

		/* Make the button "stay" active after clicking. */
		&.current-page, &:hover { color: black; }
	}
}

header > nav { width: 100%; }

article, section, img, h1, h2, h3, h4, h5, h6, p, ul, ol { margin: 0; }

a {
	color: black;
	font-weight: 500;

	/* Make links underline visible *only* when hovered */
	&:not(:hover) { text-decoration: none; }
}

/* Part of the `details` element to expand/collapse extra content */
summary {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	list-style-type: none; /* Hide `::marker` pseudo element in toggle trigger */
}

/* Common flex attribute, `flex` is aliased to `flex-x` */
.flex, .flex-x, .flex-y { display: flex; }
.flex-y { flex-direction: column; }
.flex-o { align-items: center; justify-content: center; } /* avoid "c" mistaken as "column" */
/* Shrunk element to 0 before expanding into remaining space. This helps scrolling problem when the
 * existing elements already overflows. */
.fill { flex-basis: 0; flex-grow: 1; }

.important { font-weight: bold; }
.tiny { font-size: 8pt; font-weight: bold; color: #ddd; }
.minor { color: #aaa; }

/* ====================================== HOME PAGE STYLING ===================================== */
#page--home {
	width: 1400px;
	font-size: 16pt;

	h1 { font-size: 32pt; }
	h2 { font-size: 24pt; }
	p { margin-left: 1em; }
}

#company-introduction, #site-description, #site-services {
	background-color: #fff;
	padding: 2em;
	box-shadow: var(--shadow);
}
#company-introduction {
	gap: var(--spacing);
	border-radius: 2em 2em 0 0;
}
#company-logo { display: block; max-width: 300px; } /* Preserve image ratio */
#company-title { margin: 0; }

#site-info { gap: var(--spacing); }
#site-description, #site-services {
	align-items: flex-start;
	border-radius: 0 0 2em 0;
}
#site-description {
	flex-grow: 2; /* Grow by 2 times compared to other fill elements */
	border-radius: 0 0 0 2em;
}

/* ================================== JOB LISTING PAGE STYLING ================================== */
#page--jobs {
	width: 1200px;
	min-width: 75%;
	align-items: flex-start;

	h1 {
		z-index: 1; /* Raise header so its shadow is over the listings */
		border-radius: .5em;
	}
	h2 { line-height: 1em; margin-bottom: .2em; } /* Fix high line gaps caused by Poppins font */

	/* The `summary` element is used to show/hide content of the `details` element with a click.
	 * This expands the element to exactly cover the listing box, turning the box into a button. */
	article {
		flex-basis: 200px;
		flex-grow: 1;
		max-width: 100%;

		position: relative; /* Anchor */
		padding: 20px;
		border-radius: 1em;
		justify-content: flex-start;
	}

	article:hover { background: #eaeaea; }
	article:has(> details[open]) { flex-basis: 100%; }

	*::before {
		margin-right: .5em; /* Lazy whitespace */
		font-weight: bold;
	}
}

#category-navigation {
	padding: 1.5em;
	position: sticky;
	top: 100px;
	border-radius: 1em;
	align-items: flex-start;

	li { font-size: 16pt; }
	li.empty, li.empty a {
		color: #aaa;
		text-decoration: line-through;
	}
	.minor {
		margin-top: var(--spacing);
		width: 60%;
		align-self: flex-end;
		text-align: right;
	}

	&::before {
		content: "Jump to";
		font-weight: bold;
		font-size: 24pt;
	}
}

.categorized-listing {
	display: flex;
	flex-flow: row wrap; /* Place overflowing elements below existing ones */
	gap: var(--spacing);

	&:empty {
		justify-content: center;
		color: #aaa;
		font-weight: 500;
		/* Avoid repeating message when category is empty. */
		&::before { content: "There is currently no items for this category. Please try again later."; }
	}
}

#listing-categories {
	gap: var(--spacing);
	h1 {
		padding: .4em .8em;
		&:not(:first-child) { margin-top: 50px; }
	}
	.minor { font-weight: 600; }
}

#category-navigation,
#listing-categories h1,
#listing-categories article {
	background-color: white;
	box-shadow: var(--shadow);
}

/* Move location/salary texts to the bottom so they are aligned to that in other listings of the
 * same row. */
/* NOTE: This should've been named `listing-preview` */
.listing-front {
	flex: 1;
	align-items: flex-end;
	h1 { align-self: center; }
	h2 { flex: 1; }
}

/* Avoid using the same text prefixes in every listing entry. */
/* TODO: Use feather icons for always-visible info */
.job-ident::before { content: "Ref. Number:"; }
.job-company::before { content: "Company:"; }
.job-superior::before { content: "Report to:"; }
.job-langs::before { content: "Languages:"; }
.job-frameworks::before { content: "Frameworks:"; }
.job-experience::before { content: "Experience:"; }
.job-essentials::before { content: "Essential qualifications:" }
.job-preferences::before { content: "Preferable qualifications:" }

.job-description {
	text-indent: 1em; /* Indent the first line */
	&::before {
		content: "Brief Description";
		text-indent: 0; /* No ident for the lazy title */
	}
}

/* Narrow screen styling */
@media (max-width: 1200px) {
	#page--jobs { flex-direction: column; align-items: center; }
	#category-navigation { position: static; }
}

/* ================================== APPLY PAGE STYLING ================================== */

#apply--form {
	background-color: #fff;
	padding: 2em;
	box-shadow: var(--shadow);
	gap: var(--spacing);
	border-radius: 2em 2em 2em 2em;
	max-width: 500px;
    width: 100%;
    margin: 2em auto;
    box-sizing: border-box;
	line-height: 2;
}

#apply--submitButton {
	padding: 1em 2em;
	font-size: 16pt;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 1em;
	cursor: pointer;
	display: block;
    margin: 0 auto 0 auto;

	&:hover { background-color: #333; }
}

.apply--radiobutton {
    margin-right: 1.5em;
}

/* Hide the default radio */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.2em;
    height: 1.2em;
    border: 3px solid #888;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    vertical-align: middle;
}

/* Custom checked style */
input[type="radio"]:checked {
    border-color: #333;
    background: #333;
}

/* ================================== ABOUT PAGE STYLING ================================== */
#about--main {
	--padding: 20px;
	--profile-icon-size: 70px;
	--social-icon-size: 80px;

	display: flex;
	width: 1200px;
	padding: 3em;
	gap: var(--spacing);

	details[open] { padding-bottom: calc(var(--social-icon-size) + var(--spacing) * 2); }
}

#about--company-logo {
	display: flex;
	width: 500px;
}

#about--name {
	font-size: 40pt;
}


#about--about-us, #about--member-info {
	align-items: stretch;
	gap: var(--spacing);
}

#about--logo-and-name {
	gap: var(--spacing);
	margin-bottom: 2em;
}

#about--Description, .member-profile {
	background-color: #fff;
	padding: 2em;
	box-shadow: var(--shadow);
	border-radius: 2em;
	max-width: 500px;
}

#about--member-info article {
	position: relative; /* Anchor */
	padding: var(--padding);
}

.member-profile h1 { line-height: 1em; }

.avarta {
	width: var(--profile-icon-size);
	height: var(--profile-icon-size);
	border-radius: 50%;
}

.socials-container {
	/* Account for parent */
	position: absolute;
	right: var(--padding);
	bottom: var(--padding);

	gap: var(--spacing);
}
.social { width: var(--social-icon-size); height: var(--social-icon-size); }
.social:hover { animation: moveBox 0.3s linear; }
@keyframes moveBox {
	25% { transform: translateY(-10px);}
	75% { transform: translateY(0px);}
}

#about--BNQH:hover, #about--LMS:hover {
	animation: moveBox1 0.3s linear;
}
@keyframes moveBox1 {
	25% { transform: translateY(-10px); background-color: rgb(235, 235, 235); }
	75% { transform: translateY(0px); background-color: rgb(255, 255, 255); }
}

#about--projectManagement {
	margin-top: 3em;
	margin-bottom: -2em;
}
